[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "BayesianPlatformDesignTimeTrend"]
	path = BayesianPlatformDesignTimeTrend
	url = https://github.com/zxw834/platformdesigntime
	shallow = true
	registered = true
